<h3 class="widget-heading">{{theme-setting 'menu_heading'}}</h3>
  <ul class="custom-menu">
    {{#each menuItems as |item|}}
      <li>
        <a class="custom-menu-link" href={{item.url}} title={{item.text}}>
          {{item.text}}
        </a>
      </li>
    {{/each}}
  </ul>
